@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fff;
}

/* Container  */
.container{
    width: 100%;
    margin-right: auto;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-top: 3rem;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;

    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1520px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
}
.box , #result{
    border: 3px solid #0e137d;
    max-width: 650px;
    width: 100%;
    border-radius: 7px;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 8px #80808091 , 0px 0px 8px #80808091 inset;

}
h1{
    text-align: center;
    color: #0e137d;
    font-size: 30px;
    text-shadow: 1px 1px 1px #767a10;
}
h2{
    color: #8a7b23;
    font-size: 22px;
}
h3 , .info-user {
    color: #0e137d;
    font-size: 18px;
    margin: 0;
}
label{
    font-size: 14px;
    display: block;
    color: #0e137d;
}
input[type="text"] , .questions-answer{
    padding: 0.5rem 1rem;
    border-radius: 2px 17px;
    transition: all 1s;
    display: block;
    margin: 0.5rem 0 1rem;
    border: 2px solid #0e137d;
    outline: none;
    width: -webkit-fill-available;
}
input[type="text"]:active , input[type="text"]:focus , .questions-answer:focus{
    border-radius: 17px 2px;
    transition: all 1s;
    border: 2px solid #767a10;
}
input[type="text"]:active > label, input[type="text"]:focus > label{
    color: #767a10;
}
.info-user{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn-group{
    text-align: right;
    text-align: -webkit-right;
}
.btn-group input[type="button"] , #Submit , #start-again{
    padding: 0.5rem 1.5rem;
    background: #0e137d;
    color: white;
    border: 1px solid;
    border-radius: 2px 11px;
    cursor: pointer;
    transition: all  1s;
}
.btn-group input[type="button"]:hover , #Submit:hover , #start-again:hover{
    border-radius: 11px 2px;
}
.question-box , #result{
    display: none;
}
.btn{
    color: #0e137d;
    font-size:14px;
    cursor: pointer;
}
#result div , .questions-text{
    color: #0e137d;
    font-size:14px;
    margin-bottom: 1rem;
}
#start-again{
    display: none;
}